@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 130 25% 95%;
    --foreground: 130 5% 4%;
    --card: 130 25% 90%;
    --card-foreground: 130 5% 10%;
    --popover: 130 25% 95%;
    --popover-foreground: 130 95% 4%;
    --primary: 130 95% 69%;
    --primary-foreground: 0 0% 0%;
    --secondary: 130 25% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 92 25% 85%;
    --muted-foreground: 130 5% 35%;
    --accent: 92 25% 80%;
    --accent-foreground: 130 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 130 5% 90%;
    --border: 130 25% 50%;
    --input: 130 25% 18%;
    --ring: 130 95% 69%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 130 5% 90%;
    --card: 130 25% 4%;
    --card-foreground: 130 5% 90%;
    --popover: 130 25% 5%;
    --popover-foreground: 130 5% 90%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 0 0% 0%;
    --secondary: 130 25% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 92 25% 15%;
    --muted-foreground: 130 5% 60%;
    --accent: 92 25% 15%;
    --accent-foreground: 130 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 130 5% 90%;
    --border: 130 25% 18%;
    --input: 130 25% 18%;
    --ring: 130 95% 69%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
